@model GameShop.Models.Producto
@{
    ViewData["Title"] = "COMPRANDO EN LÍNEA";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Formulario de un producto</h1>

   
  <form asp-controller="Producto" asp-action="Edit">
       <input type="hidden" asp-for="id" />
        <label asp-for="nombre" class="form-label"></label>
        <input asp-for="nombre" class="form-control form-control-sm" type="text" placeholder="Escribe el nombre dle producto" aria-label=".form-control-sm" />

        <label asp-for="precio" class="form-label"></label>
        <input asp-for="precio" class="form-control form-control-sm" type="text" placeholder="Escribe el costo" aria-label=".form-control-sm" />

        <label asp-for="descuento" class="form-label"></label>
        <input asp-for="descuento" class="form-control form-control-sm" type="text" placeholder=" Descuento en %" aria-label=".form-control-sm" />    

     

       <label asp-for="categoria" class="control-label"></label>
        Edad de 10 a 15 años
        <input asp-for="categoria" class="form-control" type="radio" value="Edad de 10 a 15" />
       Edad de 15 a 25
        <input asp-for="categoria" class="form-control" type="radio" value="Edad de 15 a 25" />
        Edad de 25 a 30
        <input asp-for="categoria" class="form-control" type="radio" value="Edad de 25 a 30" />
        Edad de 30 a más
        <input asp-for="categoria" class="form-control" type="radio" value="Edad de 30 a más" />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Calcular</button> 
        </div>              
    </form>
      <h1>@ViewData["Message"]</h1>
      <div>
        <a asp-action="index">Back to List</a>
    </div>
</div>
